.skeleton_container {
  margin: 16px;
}

.filter_form_container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 750px) {
  .filter_form_container {
    display: flex;
    flex-direction: column;
  }
}
