.container {
  display: flex;
  width: 100%;
  color: var(--black);
  border-bottom: 0.33px solid;
  border-color: rgb(172, 172, 238);
  flex-direction: row;
  background-color: var(--nav-bar-primary);
  align-items: center;
}

.button_link {
  color: black;
}

@media (max-width: 300px) {
  .container {
    flex-direction: column;
  }
}
