.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--nav-bar-primary);
  align-items: center;
}

.button_link {
  color: black;
}

.football_icon {
  height: 60px;
  width: 60px;
  padding: 16px;
}

@media (max-width: 340px) {
  .container {
    flex-direction: column;
  }
}
