.container {
  display: flex;
  width: 100%;
  color: var(--black);
  flex-direction: row;
  background-color: var(--nav-bar-primary);
  align-items: center;
}

.button_link {
  color: black;
}

@media (max-width: 300px) {
  .container {
    flex-direction: column;
  }
}
