.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 25%;
  justify-content: center;
  text-align: center;
  margin: 20px 16px;
  height: 125px;
}

@media (max-width: 500px) {
  .container {
    flex: 100%;
  }
}
