.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
}

.error_image {
  width: 150px;
  height: 150px;
}

.link {
  color: var(--header-color);
}
