:root {
  --header-color: #000000;
  --nav-bar-primary: #90caf9;
  --bg-primary: #e3f2fd;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
